<!DOCTYPE html>
{% load sekizai_tags i18n configuration theme_pipeline optional_include static %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ platform_name }}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{% favicon_path %}" />

  {% with "js/i18n/"|add:LANGUAGE_CODE|add:"/djangojs.js" as i18njs_path %}
    <script type="text/javascript" src="{% static i18njs_path %}"></script>
  {% endwith %}

  {% stylesheet 'style-vendor' %}
  {% stylesheet 'style-main-v1' %}

  {% block main_vendor_js %}
  {% javascript 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

  {% if request.course and request.render_course_wide_assets %}
  {% for css in request.course.course_wide_css %}
  <link rel="stylesheet" href="{{css}}" type="text/css">
  {% endfor %}
  {% endif %}

  {% optional_include "head-extra.html"|microsite_template_path %}

  {% google_analytics_4_id as ga_4_id %}
  {% if ga_4_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_4_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ ga_4_id }}');
    </script>
  {% endif %}

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
    {% load render_bundle from webpack_loader %}
    {% render_bundle "commons" %}
  <div class="window-wrap" dir="{{LANGUAGE_BIDI|yesno:'rtl,ltr'}}">
    <a class="nav-skip" href="#main">{% trans "Skip to main content" as tmsg %} | {{ tmsg | force_escape }}</a>
    {% with course=request.course %}
      {% include "header.html"|microsite_template_path with online_help_token=online_help_token  %}
    {% endwith %}
    <div class="content-wrapper" id="content">
      {% block body %}{% endblock %}
      {% block bodyextra %}{% endblock %}
    </div>
  {% with course=request.course %}
  <div class="wrapper wrapper-footer">
    <footer id="footer" class="tutor-container">
      <div class="footer-top">
        <div class="powered-area">
          <ul class="logo-list">
            <li>{% trans "Powered by:" %}</li>
            <li>
              <a href="https://docs.tutor.edly.io" rel="noopener" target="_blank">
                <img src="{% static 'images/cusc-logo.png' %}" alt="{% trans 'Runs on Tutor' %}" width="80"/>
              </a>
            </li>
            <li>
              <a href="https://ctu.edu.vn" rel="noopener" target="_blank">
                <img src="{% static 'images/ctu-logo.png' %}" alt="CTU" width="79"/>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-grid" style="max-width:1200px;margin:2rem auto 0;display:grid;gap:2rem;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));">
          <div class="footer-col">
            <h4>{% trans "About CUSC" %}</h4>
            <p>{% trans "The Can Tho University Software Center provides online learning solutions and professional courses in programming, data science, and design." %}</p>
          </div>
          <div class="footer-col">
            <h4>{% trans "Quick Links" %}</h4>
            <a href="/courses">{% trans "Courses" %}</a>
            <a href="/about">{% trans "About" %}</a>
            <a href="/tos">{% trans "Terms" %}</a>
            <a href="/privacy">{% trans "Privacy" %}</a>
          </div>
          <div class="footer-col">
            <h4>{% trans "Contact" %}</h4>
            <p>Email: info@cusc.vn</p>
            <p>Phone: +84 292 3835 579</p>
            <p>Address: 1 Ly Tu Trong St, Ninh Kieu, Can Tho, Vietnam</p>
          </div>
        </div>
      </div>

      <span class="copyright-site">Copyright ©{% now "Y" %}. {% trans "All Rights Reserved." %}</span>
    </footer>
  </div>
{% endwith %}


  </div>

    {% javascript 'base_application' %}

    {% render_block "js" %}

    {% if request.course and request.render_course_wide_assets %}
    {% for js in request.course.course_wide_js %}
    <script type="text/javascript" src="{{js}}"></script>
    {% endfor %}
    {% endif %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
